$homdnaWhite: 					#FFFFFF !default;
$homdnaDarkBlue: 				#4C5562 !default;
$homdnaDarkBlueActive: 			#404853 !default;
$homdnaYellow: 					#F9BF3B !default;
$homdnaYellowActive: 			#FCC64C !default;
$homdnaGray:					#D0D7DF !default;
$homdnaDarkGray:				#B1B5B8 !default;
$homdnaLightGray:				#ECF0F1 !default;
$homdnaLightGrayActive:			#E1E3E4 !default;
$homdnaGreen:					#26A65B !default;
$homdnaGreenActive:				#2CB966 !default;
$homdnaDarkFont:				#546A79 !default;
$homdnaCardBackgroundColor:		#F3F3F3 !default;
$homdnaRed:						#E75752 !default;
