#issues-index {
	background-color: $homdnaCardBackgroundColor;
	padding: 20px;
	h2 {
		text-align: center;
		text-transform: uppercase;
		font-family: $mainFont;
	}
	ul {
	    padding: 0;
	}
	li {
		cursor: hand;
		list-style-type: none;
		img {
			width: 100%;
			height: 280px;
			border-radius: $borderRadius;
		}
		.title {
			border-radius: $borderRadius;
			background-color: white;
			width: 100%;
			height: 40px;
			line-height: 40px;
			text-align: center;
			a {
				text-decoration: none;
				color: $homdnaDarkFont;
				font-family: $mainFont;
			}
		}
	}
}
