#issues-index {
	background-color: $homdnaCardBackgroundColor;
	padding: 20px;
	h2 {
		text-align: center;
		text-transform: uppercase;
		font-family: $mainFont;
	}
	ul {
	    padding: 0;
	}
	li {
		border-radius: $borderRadius;
		cursor: hand;
		list-style-type: none;
		margin: 20px auto;
		.issue-image-contain {
			height: 140px;
			overflow: hidden;
		}
		img {
			width: 100%;
			height: auto;
		}
		.title {
			background-color: white;
			width: 100%;
			padding: 10px;
			line-height: 18px;
			text-align: left;
			a {
				text-decoration: none;
				color: $homdnaDarkFont;
				font-family: $mainFont;
			}
		}
	}
}
