@import url(../src/css/main.css);
.new-style-guide .large-icon {
  height: 100px;
  background-color: #4C5562;
  width: 100px;
  margin: 0 auto; }

.new-style-guide .icon-add {
  background-repeat: no-repeat;
  mask-image: url("../assets/images/icons/icon_add.svg");
  -webkit-mask-image: url("../assets/images/icons/icon_add.svg");
  display: block; }
  .new-style-guide .icon-add:before {
    display: none; }

.new-style-guide .icon-alerts {
  background-repeat: no-repeat;
  mask-image: url("../assets/images/icons/icon_alerts.svg");
  -webkit-mask-image: url("../assets/images/icons/icon_alerts.svg");
  display: block; }
  .new-style-guide .icon-alerts:before {
    display: none; }

.new-style-guide .icon-appliances {
  background-repeat: no-repeat;
  mask-image: url("../assets/images/icons/icon_appliances.svg");
  -webkit-mask-image: url("../assets/images/icons/icon_appliances.svg");
  display: block; }
  .new-style-guide .icon-appliances:before {
    display: none; }

.new-style-guide .icon-arrowgraphup {
  background-repeat: no-repeat;
  mask-image: url("../assets/images/icons/icon_arrowgraphup.svg");
  -webkit-mask-image: url("../assets/images/icons/icon_arrowgraphup.svg");
  display: block; }
  .new-style-guide .icon-arrowgraphup:before {
    display: none; }

.new-style-guide .icon-backarrow {
  background-repeat: no-repeat;
  mask-image: url("../assets/images/icons/icon_backarrow.svg");
  -webkit-mask-image: url("../assets/images/icons/icon_backarrow.svg");
  display: block; }
  .new-style-guide .icon-backarrow:before {
    display: none; }

.new-style-guide .icon-camera {
  background-repeat: no-repeat;
  mask-image: url("../assets/images/icons/icon_camera.svg");
  -webkit-mask-image: url("../assets/images/icons/icon_camera.svg");
  display: block; }
  .new-style-guide .icon-camera:before {
    display: none; }

.new-style-guide .icon-checkbox {
  background-repeat: no-repeat;
  mask-image: url("../assets/images/icons/icon_checkbox.svg");
  -webkit-mask-image: url("../assets/images/icons/icon_checkbox.svg");
  display: block; }
  .new-style-guide .icon-checkbox:before {
    display: none; }

.new-style-guide .icon-close {
  background-repeat: no-repeat;
  mask-image: url("../assets/images/icons/icon_close.svg");
  -webkit-mask-image: url("../assets/images/icons/icon_close.svg");
  display: block; }
  .new-style-guide .icon-close:before {
    display: none; }

.new-style-guide .icon-concierge {
  background-repeat: no-repeat;
  mask-image: url("../assets/images/icons/icon_concierge.svg");
  -webkit-mask-image: url("../assets/images/icons/icon_concierge.svg");
  display: block; }
  .new-style-guide .icon-concierge:before {
    display: none; }

.new-style-guide .icon-curation {
  background-repeat: no-repeat;
  mask-image: url("../assets/images/icons/icon_curation.svg");
  -webkit-mask-image: url("../assets/images/icons/icon_curation.svg");
  display: block; }
  .new-style-guide .icon-curation:before {
    display: none; }

.new-style-guide .icon-delete {
  background-repeat: no-repeat;
  mask-image: url("../assets/images/icons/icon_delete.svg");
  -webkit-mask-image: url("../assets/images/icons/icon_delete.svg");
  display: block; }
  .new-style-guide .icon-delete:before {
    display: none; }

.new-style-guide .icon-doc {
  background-repeat: no-repeat;
  mask-image: url("../assets/images/icons/icon_doc.svg");
  -webkit-mask-image: url("../assets/images/icons/icon_doc.svg");
  display: block; }
  .new-style-guide .icon-doc:before {
    display: none; }

.new-style-guide .icon-documents {
  background-repeat: no-repeat;
  mask-image: url("../assets/images/icons/icon_documents.svg");
  -webkit-mask-image: url("../assets/images/icons/icon_documents.svg");
  display: block; }
  .new-style-guide .icon-documents:before {
    display: none; }

.new-style-guide .icon-downarrow {
  background-repeat: no-repeat;
  mask-image: url("../assets/images/icons/icon_downarrow.svg");
  -webkit-mask-image: url("../assets/images/icons/icon_downarrow.svg");
  display: block; }
  .new-style-guide .icon-downarrow:before {
    display: none; }

.new-style-guide .icon-features {
  background-repeat: no-repeat;
  mask-image: url("../assets/images/icons/icon_features.svg");
  -webkit-mask-image: url("../assets/images/icons/icon_features.svg");
  display: block; }
  .new-style-guide .icon-features:before {
    display: none; }

.new-style-guide .icon-forwardarrow {
  background-repeat: no-repeat;
  mask-image: url("../assets/images/icons/icon_forwardarrow.svg");
  -webkit-mask-image: url("../assets/images/icons/icon_forwardarrow.svg");
  display: block; }
  .new-style-guide .icon-forwardarrow:before {
    display: none; }

.new-style-guide .icon-hamburgermenu {
  background-repeat: no-repeat;
  mask-image: url("../assets/images/icons/icon_hamburgermenu.svg");
  -webkit-mask-image: url("../assets/images/icons/icon_hamburgermenu.svg");
  display: block; }
  .new-style-guide .icon-hamburgermenu:before {
    display: none; }

.new-style-guide .icon-homdna {
  background-repeat: no-repeat;
  mask-image: url("../assets/images/icons/icon_homdna.svg");
  -webkit-mask-image: url("../assets/images/icons/icon_homdna.svg");
  display: block; }
  .new-style-guide .icon-homdna:before {
    display: none; }

.new-style-guide .icon-img {
  background-repeat: no-repeat;
  mask-image: url("../assets/images/icons/icon_img.svg");
  -webkit-mask-image: url("../assets/images/icons/icon_img.svg");
  display: block; }
  .new-style-guide .icon-img:before {
    display: none; }

.new-style-guide .icon-logout {
  background-repeat: no-repeat;
  mask-image: url("../assets/images/icons/icon_logout.svg");
  -webkit-mask-image: url("../assets/images/icons/icon_logout.svg");
  display: block; }
  .new-style-guide .icon-logout:before {
    display: none; }

.new-style-guide .icon-marketpulse {
  background-repeat: no-repeat;
  mask-image: url("../assets/images/icons/icon_marketpulse.svg");
  -webkit-mask-image: url("../assets/images/icons/icon_marketpulse.svg");
  display: block; }
  .new-style-guide .icon-marketpulse:before {
    display: none; }

.new-style-guide .icon-pdf {
  background-repeat: no-repeat;
  mask-image: url("../assets/images/icons/icon_pdf.svg");
  -webkit-mask-image: url("../assets/images/icons/icon_pdf.svg");
  display: block; }
  .new-style-guide .icon-pdf:before {
    display: none; }

.new-style-guide .icon-property {
  background-repeat: no-repeat;
  mask-image: url("../assets/images/icons/icon_property.svg");
  -webkit-mask-image: url("../assets/images/icons/icon_property.svg");
  display: block; }
  .new-style-guide .icon-property:before {
    display: none; }

.new-style-guide .icon-rooms {
  background-repeat: no-repeat;
  mask-image: url("../assets/images/icons/icon_rooms.svg");
  -webkit-mask-image: url("../assets/images/icons/icon_rooms.svg");
  display: block; }
  .new-style-guide .icon-rooms:before {
    display: none; }

.new-style-guide .icon-search {
  background-repeat: no-repeat;
  mask-image: url("../assets/images/icons/icon_search.svg");
  -webkit-mask-image: url("../assets/images/icons/icon_search.svg");
  display: block; }
  .new-style-guide .icon-search:before {
    display: none; }

.new-style-guide .icon-settings {
  background-repeat: no-repeat;
  mask-image: url("../assets/images/icons/icon_settings.svg");
  -webkit-mask-image: url("../assets/images/icons/icon_settings.svg");
  display: block; }
  .new-style-guide .icon-settings:before {
    display: none; }

.new-style-guide .icon-trash {
  background-repeat: no-repeat;
  mask-image: url("../assets/images/icons/icon_trash.svg");
  -webkit-mask-image: url("../assets/images/icons/icon_trash.svg");
  display: block; }
  .new-style-guide .icon-trash:before {
    display: none; }

.new-style-guide .icon-trendingdown {
  background-repeat: no-repeat;
  mask-image: url("../assets/images/icons/icon_trendingdown.svg");
  -webkit-mask-image: url("../assets/images/icons/icon_trendingdown.svg");
  display: block; }
  .new-style-guide .icon-trendingdown:before {
    display: none; }

.new-style-guide .icon-trendingup {
  background-repeat: no-repeat;
  mask-image: url("../assets/images/icons/icon_trendingup.svg");
  -webkit-mask-image: url("../assets/images/icons/icon_trendingup.svg");
  display: block; }
  .new-style-guide .icon-trendingup:before {
    display: none; }

.new-style-guide .icon-uparrow {
  background-repeat: no-repeat;
  mask-image: url("../assets/images/icons/icon_uparrow.svg");
  -webkit-mask-image: url("../assets/images/icons/icon_uparrow.svg");
  display: block; }
  .new-style-guide .icon-uparrow:before {
    display: none; }

.new-style-guide .icon-wand {
  background-repeat: no-repeat;
  mask-image: url("../assets/images/icons/icon_wand.svg");
  -webkit-mask-image: url("../assets/images/icons/icon_wand.svg");
  display: block; }
  .new-style-guide .icon-wand:before {
    display: none; }

.new-style-guide .large-button {
  height: 44px;
  width: calc(100% - 30px);
  max-width: 580px;
  font-family: source_sans_prosemibold;
  font-size: 14px;
  margin: 0 15px 15px;
  padding: 0 0 13px;
  line-height: 44px;
  border-radius: 3px;
  border: none;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: center; }
  .new-style-guide .large-button:disabled {
    color: #FFFFFF;
    background-color: #B1B5B8; }

.new-style-guide .primary {
  color: #FFFFFF;
  background-color: #F9BF3B; }
  .new-style-guide .primary.selected {
    background-color: #FCC64C; }

.new-style-guide .secondary {
  color: #FFFFFF;
  background-color: #26A65B; }
  .new-style-guide .secondary.selected {
    background-color: #2CB966; }

.new-style-guide .tertiary {
  color: #546A79;
  background-color: #ECF0F1; }
  .new-style-guide .tertiary.selected {
    background-color: #E1E3E4; }

.new-style-guide form .form-input {
  position: relative; }

.new-style-guide form .select-icon {
  position: absolute;
  right: 30px;
  top: 16px;
  height: 10px;
  width: 10px;
  background-color: #546a79; }

.new-style-guide form .homdna-checkbox {
  height: 40px;
  width: calc(100% - 30px);
  font: 100 18px source_sans_proregular;
  line-height: 40px;
  margin: 0 15px 15px;
  background-color: #F3F3F3;
  border-radius: 3px;
  border: none;
  letter-spacing: 0.5px;
  position: relative; }
  .new-style-guide form .homdna-checkbox div {
    height: 30px;
    width: 30px;
    border: 2px solid #E1E3E4;
    border-radius: 3px;
    position: absolute;
    top: 6px;
    right: 0;
    padding: 0;
    background-color: #FFFFFF; }
    .new-style-guide form .homdna-checkbox div.checked {
      background-color: transparent;
      border: none; }
    .new-style-guide form .homdna-checkbox div span {
      height: 30px;
      width: 30px;
      border-radius: 3px; }
      .new-style-guide form .homdna-checkbox div span.icon-checkbox {
        background-color: #26A65B; }

.new-style-guide form input[type="text"], .new-style-guide form input[type="password"], .new-style-guide form input[type="date"],
.new-style-guide form input[type="email"], .new-style-guide form input[type="number"], .new-style-guide form input[type="url"],
.new-style-guide form input[type="search"], .new-style-guide form input[type="tel"] {
  height: 40px;
  width: calc(100% - 30px);
  font-family: source_sans_proregular;
  color: #546a79;
  font-size: 14px;
  line-height: 40px;
  margin: 0 15px 15px;
  padding: 0 0 0 13px;
  background-color: #FFFFFF;
  border-radius: 3px;
  border: none;
  letter-spacing: 0.5px; }

.new-style-guide form input[type="number"]::-webkit-inner-spin-button, .new-style-guide form input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.new-style-guide form select {
  height: 40px;
  width: calc(100% - 30px);
  font-family: source_sans_proregular;
  color: #546a79;
  font-size: 14px;
  line-height: 40px;
  margin: 0 15px 15px;
  padding: 0 0 0 13px;
  background-color: #FFFFFF;
  border-radius: 3px;
  border: none;
  letter-spacing: 0.5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.new-style-guide form textarea {
  height: 80px;
  width: calc(100% - 30px);
  font-family: source_sans_proregular;
  color: #546a79;
  font-size: 14px;
  margin: 0 15px 15px;
  padding: 13px;
  background-color: #FFFFFF;
  border-radius: 3px;
  border: none;
  letter-spacing: 0.5px;
  resize: none; }

.new-style-guide form h3 {
  font: 100 18px source_sans_proregular;
  margin: 20px 15px 10px; }

.new-style-guide form p {
  margin: 15px;
  text-align: center;
  font: 300 14px source_sans_proregular;
  color: #546A79; }

.new-style-guide form.submitted input.ng-invalid-required, .new-style-guide form.submitted select.ng-invalid-required {
  border: 2px solid #E75752;
  line-height: 36px;
  margin-left: 13px; }

.new-style-guide form.submitted textarea.ng-invalid-required {
  border: 2px solid #E75752;
  margin-left: 13px;
  padding-top: 11px; }

.new-style-guide .footer {
  z-index: 9;
  width: 100%;
  height: 50px;
  font-size: 10px;
  color: #B1B5B8;
  text-align: center;
  padding: 0; }
  .new-style-guide .footer .tab-item {
    width: 32.8125%;
    height: 100%;
    background-color: #4C5562;
    color: #B1B5B8;
    padding: 7px 0 0;
    font-family: source_sans_proregular;
    opacity: 1;
    border-top: 1px solid #404853; }
  .new-style-guide .footer .tab-item-main {
    width: 34.375%;
    border: 1px solid #404853;
    border-bottom: none; }
  .new-style-guide .footer .icon {
    width: 22px;
    height: 22px;
    margin: 0 auto;
    background-color: #B1B5B8; }
  .new-style-guide .footer .active {
    background-color: #404853;
    color: #FFFFFF; }
    .new-style-guide .footer .active .icon {
      background-color: #FFFFFF; }

.new-style-guide .modal {
  background-color: #F3F3F3; }
  .new-style-guide .modal .scroll-content {
    background-color: #F3F3F3; }
  .new-style-guide .modal .has-header {
    top: 67px;
    padding: 0; }
  .new-style-guide .modal .header {
    min-height: 67px;
    background-color: #4C5562;
    background-image: none; }
    .new-style-guide .modal .header .title {
      margin: 16px 0 18px;
      padding: 5px 0 0;
      font-size: 24px;
      color: #FFFFFF;
      text-transform: uppercase; }
    .new-style-guide .modal .header .button {
      background-color: #4C5562;
      border: none;
      color: #FFFFFF;
      padding: 20px 0 0;
      width: 50px;
      margin: 0 -6px 0 0; }
      .new-style-guide .modal .header .button:before {
        padding: 0;
        font-size: 36px; }
      .new-style-guide .modal .header .button.button-text {
        margin: 0 15px 0;
        padding: 15px 0 0 0;
        font-size: 16px; }
  .new-style-guide .modal .photo-section {
    width: 100%;
    height: 175px;
    text-transform: uppercase;
    color: #4C5562; }
    .new-style-guide .modal .photo-section .upload-image {
      background-color: #D0D7DF;
      width: 100%;
      height: 175px;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      padding: 40px 0 0; }
      .new-style-guide .modal .photo-section .upload-image.error {
        border: 2px solid #E75752;
        padding-top: 38px; }
      .new-style-guide .modal .photo-section .upload-image .spinner svg {
        height: 60px;
        width: 60px;
        margin-top: 16px; }
      .new-style-guide .modal .photo-section .upload-image .icon-circle {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid #4C5562;
        margin: 0 auto 25px;
        padding: 16px 14px; }
        .new-style-guide .modal .photo-section .upload-image .icon-circle .icon-camera {
          height: 24px;
          width: 30px;
          background-color: #4C5562; }
  .new-style-guide .modal .view-images {
    width: 100%;
    height: 175px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    position: relative; }
    .new-style-guide .modal .view-images .card {
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      border-radius: 0; }
      .new-style-guide .modal .view-images .card .card-slideshow .card-slideshow-overlay {
        display: none; }
    .new-style-guide .modal .view-images .homdna-card-slideshow .card-slideshow .photo {
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none; }
    .new-style-guide .modal .view-images .delete-image {
      position: absolute;
      height: 32px;
      width: 32px;
      padding: 7px 7px 7px 8px;
      right: 10px;
      bottom: 10px;
      border-radius: 50%;
      background-color: #4C5562;
      opacity: 0.75; }
      .new-style-guide .modal .view-images .delete-image .icon-trash {
        position: absolute;
        height: 18px;
        width: 18px;
        background-color: #FFFFFF; }
  .new-style-guide .modal .add-image {
    color: #4C5562;
    text-transform: uppercase;
    background-color: #F3F3F3;
    border: 1px solid #4C5562;
    height: 40px;
    width: calc(100% - 30px);
    margin: 0 15px 15px;
    padding: 9px 13px 0;
    text-align: center;
    font: bold 16px source_sans_proregular;
    border-radius: 3px;
    letter-spacing: 0.5px; }
    .new-style-guide .modal .add-image .add-home-photo {
      height: 100%;
      margin: 0 auto; }
    .new-style-guide .modal .add-image .icon-circle {
      display: inline-block; }
      .new-style-guide .modal .add-image .icon-circle .icon-camera {
        height: 20px;
        width: 26px;
        background-color: #4C5562;
        display: inline-block;
        margin: 0 10px -4px 0; }
  .new-style-guide .modal form {
    margin: 15px 0 18px; }
  .new-style-guide .modal .delete {
    text-align: center;
    color: #E75752;
    padding: 0 0 30px; }

.platform-android .new-style-guide .modal .header .title {
  height: auto;
  padding: 0;
  line-height: 44px;
  margin: 12px 0 0; }

.platform-android .new-style-guide .modal .header .button {
  padding: 0; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 40px 0 20px;
  color: #546A79; }

body {
  padding: 0; }
  body .flex-container {
    width: 33%;
    height: 100%;
    padding: 5px;
    float: left; }

#item-list ul {
  float: right;
  width: 33%;
  list-style-type: none;
  text-align: left;
  font-size: 14px;
  margin-right: 25px; }
  #item-list ul a {
    text-decoration: none;
    color: #546A79; }
    #item-list ul a:visited {
      color: #546A79; }
  #item-list ul li {
    padding: 5px 0;
    margin: 5px 0;
    border: none; }
    #item-list ul li.active {
      color: #4F8EF7;
      border-right: 2px solid #4F8EF7; }

#item-description {
  height: 100%;
  overflow: scroll;
  padding-bottom: 60%; }
  #item-description ul {
    width: 100%;
    list-style-type: none;
    margin-bottom: 50px; }
    #item-description ul li {
      padding-bottom: 20px; }
      #item-description ul li p {
        text-align: center;
        padding: 10px 0;
        margin: 15px 0 0;
        border: 2px solid white;
        border-bottom: none; }
      #item-description ul li select {
        width: 150px; }
    #item-description ul.font-descriptions li p {
      text-transform: capitalize; }
  #item-description .code {
    width: 100%;
    padding: 10px;
    margin: 0;
    color: white;
    font-weight: 900;
    background-color: #333;
    border: 2px solid #eee; }
  #item-description .tag {
    color: #F93B6A; }
  #item-description .attr {
    color: #8AE62E; }
  #item-description .str {
    color: #FFEB99; }
  #item-description .css-attr {
    color: #19E8E8; }
  #item-description .css-var {
    color: #F97719; }
  #item-description .css-value {
    color: #9933FF; }
  #item-description .tab {
    padding-left: 30px; }
  #item-description .text-left {
    text-align: left; }
  #item-description .center {
    text-align: center; }
  #item-description .no-margin {
    margin: 0; }
  #item-description .borderRadius {
    border-radius: 3px;
    border: 3px solid #546A79;
    height: 50px;
    width: 50%;
    margin: 20px auto; }
  #item-description .letterSpacing {
    letter-spacing: 0.5px; }
  #item-description .mainFont {
    font-family: source_sans_proregular; }
  #item-description .noMainFont {
    font-family: none; }
  #item-description .icon-background {
    background-repeat: no-repeat;
    mask-image: url("../src/assets/images/icons/icon_concierge.svg");
    -webkit-mask-image: url("../src/assets/images/icons/icon_concierge.svg");
    display: block;
    background-color: #546A79;
    width: 50px;
    height: 50px;
    margin: 0 auto; }
    #item-description .icon-background:before {
      display: none; }
  #item-description .hide-arrow {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  #item-description .icon-container {
    width: 100%; }
  #item-description .icons {
    height: 125px;
    width: 125px;
    display: inline-block; }
    #item-description .icons h4 {
      font-size: 12px; }
  #item-description .container {
    width: 100%;
    min-height: 60px; }
    #item-description .container .col-50 {
      width: 50%;
      float: left; }
      #item-description .container .col-50 h5 {
        text-align: center; }
      #item-description .container .col-50 select {
        width: 50%;
        margin: 0 25%; }
      #item-description .container .col-50 input {
        border: 1px solid black; }
      #item-description .container .col-50.visible-arrows input {
        height: 40px;
        width: calc(100% - 30px);
        margin: 0 15px 15px;
        color: #546A79;
        border-radius: 3px;
        padding: 0 0 0 13px; }
        #item-description .container .col-50.visible-arrows input::-webkit-inner-spin-button, #item-description .container .col-50.visible-arrows input::-webkit-outer-spin-button {
          opacity: 1; }
  #item-description .box-shadow {
    box-shadow: 0 0 15px 5px #888888;
    -webkit-box-shadow: 0 0 15px 5px #888888;
    -moz-box-shadow: 0 0 15px 5px #888888;
    height: 10px;
    width: 50%;
    margin: 20px auto; }
  #item-description .light-background {
    background-color: #F3F3F3;
    padding: 20px; }
    #item-description .light-background form p {
      margin: 15px;
      padding: 0;
      border: none; }
    #item-description .light-background form select {
      width: calc(100% - 30px); }
    #item-description .light-background form .homdna-checkbox {
      margin: 0; }
      #item-description .light-background form .homdna-checkbox span.sg-icon-checkbox {
        background-color: #26A65B; }
  #item-description .checkbox-color {
    background-color: green; }
  #item-description .footer .tab-item {
    float: left;
    font-size: 10px;
    line-height: 14px;
    text-decoration: none; }

#item-demo {
  padding-left: 20px; }
  #item-demo #iphone {
    height: 735px;
    width: 430px;
    border: 75px solid transparent;
    border-image: url("iphone.png") 30% stretch;
    border-image-slice: 16% 18%;
    border-top: 110px;
    border-bottom: 120px;
    margin: 0 auto; }
  #item-demo p {
    padding: 15px; }

.homdna-white {
  background-color: #FFFFFF;
  color: #546A79; }

.homdna-darkblue {
  background-color: #4C5562;
  color: white; }

.homdna-darkblue-active {
  background-color: #404853;
  color: white; }

.homdna-yellow {
  background-color: #F9BF3B;
  color: white; }

.homdna-yellow-active {
  background-color: #FCC64C;
  color: white; }

.homdna-gray {
  background-color: #D0D7DF;
  color: #546A79; }

.homdna-darkgray {
  background-color: #B1B5B8;
  color: #546A79; }

.homdna-lightgray {
  background-color: #ECF0F1;
  color: #546A79; }

.homdna-lightgray-active {
  background-color: #E1E3E4;
  color: #546A79; }

.homdna-green {
  background-color: #26A65B;
  color: white; }

.homdna-green-active {
  background-color: #2CB966;
  color: white; }

.homdna-darkfont {
  background-color: #546A79;
  color: white; }

.homdna-card-bgcolor {
  background-color: #F3F3F3;
  color: #546A79; }

.homdna-red {
  background-color: #E75752;
  color: white; }

.source-sans-pro-extralight-italic {
  font-family: source_sans_proXLtIt; }

.source-sans-pro-extralight {
  font-family: source_sans_proextralight; }

.source-sans-pro-light-italic {
  font-family: source_sans_prolight_italic; }

.source-sans-pro-light {
  font-family: source_sans_prolight; }

.source-sans-pro-semibold-italic {
  font-family: source_sans_proSBdIt; }

.source-sans-pro-semibold {
  font-family: source_sans_prosemibold; }

.source-sans-pro-bold-italic {
  font-family: source_sans_probold_italic; }

.source-sans-pro-bold {
  font-family: source_sans_probold; }

.source-sans-pro-black-italic {
  font-family: source_sans_problack_italic; }

.source-sans-pro-black {
  font-family: source_sans_problack; }

.source-sans-pro-regular-italic {
  font-family: source_sans_proitalic; }

.source-sans-pro-regular {
  font-family: source_sans_proregular; }

.icon {
  background-color: #546A79;
  width: 48px;
  height: 50px;
  margin: 0 auto; }

.sg-icon-add {
  background-repeat: no-repeat;
  mask-image: url("../src/assets/images/icons/icon_add.svg");
  -webkit-mask-image: url("../src/assets/images/icons/icon_add.svg");
  display: block; }
  .sg-icon-add:before {
    display: none; }

.sg-icon-alerts {
  background-repeat: no-repeat;
  mask-image: url("../src/assets/images/icons/icon_alerts.svg");
  -webkit-mask-image: url("../src/assets/images/icons/icon_alerts.svg");
  display: block; }
  .sg-icon-alerts:before {
    display: none; }

.sg-icon-appliances {
  background-repeat: no-repeat;
  mask-image: url("../src/assets/images/icons/icon_appliances.svg");
  -webkit-mask-image: url("../src/assets/images/icons/icon_appliances.svg");
  display: block;
  width: 50px; }
  .sg-icon-appliances:before {
    display: none; }

.sg-icon-arrowgraphup {
  background-repeat: no-repeat;
  mask-image: url("../src/assets/images/icons/icon_arrowgraphup.svg");
  -webkit-mask-image: url("../src/assets/images/icons/icon_arrowgraphup.svg");
  display: block; }
  .sg-icon-arrowgraphup:before {
    display: none; }

.sg-icon-backarrow {
  background-repeat: no-repeat;
  mask-image: url("../src/assets/images/icons/icon_backarrow.svg");
  -webkit-mask-image: url("../src/assets/images/icons/icon_backarrow.svg");
  display: block; }
  .sg-icon-backarrow:before {
    display: none; }

.sg-icon-camera {
  background-repeat: no-repeat;
  mask-image: url("../src/assets/images/icons/icon_camera.svg");
  -webkit-mask-image: url("../src/assets/images/icons/icon_camera.svg");
  display: block; }
  .sg-icon-camera:before {
    display: none; }

.sg-icon-checkbox {
  background-repeat: no-repeat;
  mask-image: url("../src/assets/images/icons/icon_checkbox.svg");
  -webkit-mask-image: url("../src/assets/images/icons/icon_checkbox.svg");
  display: block; }
  .sg-icon-checkbox:before {
    display: none; }

.sg-icon-close {
  background-repeat: no-repeat;
  mask-image: url("../src/assets/images/icons/icon_close.svg");
  -webkit-mask-image: url("../src/assets/images/icons/icon_close.svg");
  display: block; }
  .sg-icon-close:before {
    display: none; }

.sg-icon-concierge {
  background-repeat: no-repeat;
  mask-image: url("../src/assets/images/icons/icon_concierge.svg");
  -webkit-mask-image: url("../src/assets/images/icons/icon_concierge.svg");
  display: block;
  width: 50px; }
  .sg-icon-concierge:before {
    display: none; }

.sg-icon-curation {
  background-repeat: no-repeat;
  mask-image: url("../src/assets/images/icons/icon_curation.svg");
  -webkit-mask-image: url("../src/assets/images/icons/icon_curation.svg");
  display: block;
  width: 50px; }
  .sg-icon-curation:before {
    display: none; }

.sg-icon-delete {
  background-repeat: no-repeat;
  mask-image: url("../src/assets/images/icons/icon_delete.svg");
  -webkit-mask-image: url("../src/assets/images/icons/icon_delete.svg");
  display: block; }
  .sg-icon-delete:before {
    display: none; }

.sg-icon-doc {
  background-repeat: no-repeat;
  mask-image: url("../src/assets/images/icons/icon_doc.svg");
  -webkit-mask-image: url("../src/assets/images/icons/icon_doc.svg");
  display: block; }
  .sg-icon-doc:before {
    display: none; }

.sg-icon-documents {
  background-repeat: no-repeat;
  mask-image: url("../src/assets/images/icons/icon_documents.svg");
  -webkit-mask-image: url("../src/assets/images/icons/icon_documents.svg");
  display: block;
  width: 50px; }
  .sg-icon-documents:before {
    display: none; }

.sg-icon-downarrow {
  background-repeat: no-repeat;
  mask-image: url("../src/assets/images/icons/icon_downarrow.svg");
  -webkit-mask-image: url("../src/assets/images/icons/icon_downarrow.svg");
  display: block; }
  .sg-icon-downarrow:before {
    display: none; }

.sg-icon-features {
  background-repeat: no-repeat;
  mask-image: url("../src/assets/images/icons/icon_features.svg");
  -webkit-mask-image: url("../src/assets/images/icons/icon_features.svg");
  display: block;
  width: 50px; }
  .sg-icon-features:before {
    display: none; }

.sg-icon-forwardarrow {
  background-repeat: no-repeat;
  mask-image: url("../src/assets/images/icons/icon_forwardarrow.svg");
  -webkit-mask-image: url("../src/assets/images/icons/icon_forwardarrow.svg");
  display: block; }
  .sg-icon-forwardarrow:before {
    display: none; }

.sg-icon-hamburgermenu {
  background-repeat: no-repeat;
  mask-image: url("../src/assets/images/icons/icon_hamburgermenu.svg");
  -webkit-mask-image: url("../src/assets/images/icons/icon_hamburgermenu.svg");
  display: block; }
  .sg-icon-hamburgermenu:before {
    display: none; }

.sg-icon-homdna {
  background-repeat: no-repeat;
  mask-image: url("../src/assets/images/icons/icon_homdna.svg");
  -webkit-mask-image: url("../src/assets/images/icons/icon_homdna.svg");
  display: block;
  width: 50px; }
  .sg-icon-homdna:before {
    display: none; }

.sg-icon-img {
  background-repeat: no-repeat;
  mask-image: url("../src/assets/images/icons/icon_img.svg");
  -webkit-mask-image: url("../src/assets/images/icons/icon_img.svg");
  display: block; }
  .sg-icon-img:before {
    display: none; }

.sg-icon-logout {
  background-repeat: no-repeat;
  mask-image: url("../src/assets/images/icons/icon_logout.svg");
  -webkit-mask-image: url("../src/assets/images/icons/icon_logout.svg");
  display: block; }
  .sg-icon-logout:before {
    display: none; }

.sg-icon-marketpulse {
  background-repeat: no-repeat;
  mask-image: url("../src/assets/images/icons/icon_marketpulse.svg");
  -webkit-mask-image: url("../src/assets/images/icons/icon_marketpulse.svg");
  display: block; }
  .sg-icon-marketpulse:before {
    display: none; }

.sg-icon-pdf {
  background-repeat: no-repeat;
  mask-image: url("../src/assets/images/icons/icon_pdf.svg");
  -webkit-mask-image: url("../src/assets/images/icons/icon_pdf.svg");
  display: block; }
  .sg-icon-pdf:before {
    display: none; }

.sg-icon-property {
  background-repeat: no-repeat;
  mask-image: url("../src/assets/images/icons/icon_property.svg");
  -webkit-mask-image: url("../src/assets/images/icons/icon_property.svg");
  display: block; }
  .sg-icon-property:before {
    display: none; }

.sg-icon-rooms {
  background-repeat: no-repeat;
  mask-image: url("../src/assets/images/icons/icon_rooms.svg");
  -webkit-mask-image: url("../src/assets/images/icons/icon_rooms.svg");
  display: block;
  width: 50px; }
  .sg-icon-rooms:before {
    display: none; }

.sg-icon-search {
  background-repeat: no-repeat;
  mask-image: url("../src/assets/images/icons/icon_search.svg");
  -webkit-mask-image: url("../src/assets/images/icons/icon_search.svg");
  display: block; }
  .sg-icon-search:before {
    display: none; }

.sg-icon-settings {
  background-repeat: no-repeat;
  mask-image: url("../src/assets/images/icons/icon_settings.svg");
  -webkit-mask-image: url("../src/assets/images/icons/icon_settings.svg");
  display: block; }
  .sg-icon-settings:before {
    display: none; }

.sg-icon-trash {
  background-repeat: no-repeat;
  mask-image: url("../src/assets/images/icons/icon_trash.svg");
  -webkit-mask-image: url("../src/assets/images/icons/icon_trash.svg");
  display: block; }
  .sg-icon-trash:before {
    display: none; }

.sg-icon-trendingdown {
  background-repeat: no-repeat;
  mask-image: url("../src/assets/images/icons/icon_trendingdown.svg");
  -webkit-mask-image: url("../src/assets/images/icons/icon_trendingdown.svg");
  display: block; }
  .sg-icon-trendingdown:before {
    display: none; }

.sg-icon-trendingup {
  background-repeat: no-repeat;
  mask-image: url("../src/assets/images/icons/icon_trendingup.svg");
  -webkit-mask-image: url("../src/assets/images/icons/icon_trendingup.svg");
  display: block; }
  .sg-icon-trendingup:before {
    display: none; }

.sg-icon-uparrow {
  background-repeat: no-repeat;
  mask-image: url("../src/assets/images/icons/icon_uparrow.svg");
  -webkit-mask-image: url("../src/assets/images/icons/icon_uparrow.svg");
  display: block; }
  .sg-icon-uparrow:before {
    display: none; }

.sg-icon-wand {
  background-repeat: no-repeat;
  mask-image: url("../src/assets/images/icons/icon_wand.svg");
  -webkit-mask-image: url("../src/assets/images/icons/icon_wand.svg");
  display: block; }
  .sg-icon-wand:before {
    display: none; }
