//*=====================================*//
// PAGE SPECIFIC STYLE OVERRIDES
//*=====================================*//

// VARIABLES
$shareIconTransition:            all 0.5s ease;

// ISSUES FORM PAGE

#issues-form {
	padding: 0;
  overflow-x: hidden;

	h2 {
		padding-top: 20px;
		text-align: center;
		margin-top: 0;
    font-family: $mainFont;
	}
  h3 {
    text-align: left;
    margin-left: 0;
    margin-top: 0;
  }
  .issues-form-container {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    & textarea {
      width: 100%;
      margin: 10px 0;
    }
  }
  .form-input {
    text-align: center;
  }
  button.primary {
    max-width: 200px;
    margin: 0;
  }
  input.secondary {
    width: 100%;
    max-width: 600px;
    margin: 0;
  }
}

// FORM SUBMISSION CONFIRM PAGE
#issues-confirm {
  height: 100vh;
  .confirm-message-container {
    @include vertical-align();
  }
  h2 {
    padding-top: 20px;
    text-align: center;
    margin-top: 0;
    font-family: $mainFont;
  }
  #icons {
    width: 100%;
    text-align: center;
  }
  .icon {
    display: inline-block;
    border-radius: $borderRadius;
    margin: 10px;
    cursor: pointer;
    @include transition($shareIconTransition);
    &:hover {
      opacity: 0.6;
    }
  }
}

