<div id="issues-form">
	<h2>Create Message</h2>

	<form ng-submit="formCtrl.email()">
		<h3>Choose Recipients</h3>
		<div class="form-input" ng-repeat="recipient in formCtrl.recipients track by $index">
			<label for="recipient{{ $index + 1 }}">Recipient {{ $index + 1 }}</label>
			<input name="recipient{{ $index + 1 }}" type="text" ng-model="recipient" />
		</div>
		<button class="large-button primary" ng-click="formCtrl.addRecipient()">Add Recipient</button>
		<div class="form-input">
			<textarea ng-model="formCtrl.message"></textarea>
		</div>
		<input type="submit" class="large-button secondary" value="Make A Difference" />
	</form>
</div>